<section class="s-information">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="s-information__left s-information__left_style2">
          <img src="catalog/view/theme/default/img/element3.png" class="s-information__left--img4" alt="background-element4" data-paroller-direction="vertical" data-paroller-factor="-0.5" data-paroller-type="foreground">
          <h2 class="h2">{{ heading_title }}</h2>
          {{ html }}
        </div>
        <div class="s-information__right s-information__right_style2">
          <img src="catalog/view/theme/default/img/element2.png" class="s-information__right--img5" alt="background-element5" data-paroller-direction="vertical" data-paroller-factor="-0.3" data-paroller-type="foreground">
          <img src="catalog/view/theme/default/img/element4.png" class="s-information__right--img6" alt="background-element6" data-paroller-direction="vertical" data-paroller-factor="-0.4" data-paroller-type="foreground">
          <div class="s-information__right--numbers">
            <span class="s-information__right--number">{{ repair }}</span>
            <span class="s-information__right--desc">ремонтов</span>
          </div>
          <div class="s-information__right--numbers">
            <span class="s-information__right--number">{{ clients }}</span>
            <span class="s-information__right--desc">довольных клиентов</span>
          </div>
          <div class="s-information__right--numbers">
            <span class="s-information__right--number">{{ year }}</span>
            <span class="s-information__right--desc">год основания компании</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-block">
    <div class="container">
      <ul class="list-icon list-icon_2col">
        <li>
          <h5>{{ advantages_title }}</h5>
          <p>{{ advantages_description }}</p>
        </li>
        <li>
          <h5>{{ advantages_title2 }}</h5>
          <p>{{ advantages_description2 }}</p>
        </li>
        <li>
          <h5>{{ advantages_title3 }}</h5>
          <p>{{ advantages_description3 }}</p>
        </li>
        <li>
          <h5>{{ advantages_title4 }}</h5>
          <p>{{ advantages_description4 }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
